extends layout

block content
  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

  script.
    var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}',
      {
        autoclose: true,
        closable: false,
        auth: {
          redirect: true,
          redirectUrl: '#{env.AUTH0_CALLBACK_URL}',
          responseType: 'code',
          sso: true,
          params: {
            scope: 'openid profile email offline_access read:contacts read:calendar',
            audience: '#{env.AUDIENCE}'
          }
        }
      });
    lock.show();
